body {
  background-color: #f5f7fa;
  font-family: "Roboto", sans-serif;
  color: #0d0c0a;
  .App {
    .access-container {
      background-color: #ffffff;
      height: 400px;
      width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      -webkit-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
      -moz-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
      box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .selector-container {
        height: 100%;
        width: 47.5%;
        display: flex;
        flex-direction: column;
        .title-heading {
          margin-top: 50px;
          margin-bottom: 15px;
          text-align: center;
          h1 {
            margin-top: 0px;
            margin-bottom: 5px;
          }
          p {
            color: gray;
            margin-top: 5px;
            margin-bottom: 0px;
          }
        }
        .selector-button {
          color: #4a4b46;
          text-align: center;
          align-content: center;
          .s-btn {
            user-select: none;
            width: 45%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 10px;
            // background-color: orangered;
            border-radius: 25px;
            transition: ease-in-out 0.25s;
          }
          .selected {
            color: brown;
            background-color: #e8dcdb;
          }
          .s-btn:hover {
            color: brown;
            cursor: pointer;
            background-color: #e8dcdb;
          }
        }
        .warning {
          text-align: center;
          color: #ff9100;
        }
      }
      .bdr {
        height: 100%;
        width: 3.5px;
        background-color: #36454f;
      }
      .input-container {
        height: 100%;
        width: 47.5%;
        color: #4a4b46;
        .input-heading {
          background-color: transparent;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .s-btn {
            margin: 0;
            padding: 10px;
            border-radius: 25px;
            transition: ease-in-out 0.25s;
          }
          .s-btn:hover {
            color: brown;
            cursor: pointer;
            background-color: #e8dcdb;
          }
          .selected {
            color: brown;
            background-color: #e8dcdb;
          }
        }
        .input-feild {
          margin-top: 35px;
          form {
            display: flex;
            flex-direction: column;
            input {
              color: #4a4b46;
              height: 25px;
              font-size: 18px;
              margin: auto;
              outline: none;
              width: 80%;
              margin-bottom: 15px;
              border: none;
              border-bottom: 2px solid #36454f;
            }
            button {
              color: #4a4b46;
              background-color: transparent;
              font-size: 18px;
              margin: auto;
              margin-top: 10px;
              outline: none;
              width: 50%;
              height: 30px;
              border-radius: 7.5px;
            }
            button:hover {
              background-color: #e8dcdb;
              cursor: pointer;
              color: brown;
            }
          }
        }
      }
    }
    .main {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #f5f7fa;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .container-one {
        height: 95%;
        width: 67.5%;
        margin-top: 1.25%;
        // height: 100%;
        width: 30%;
        background-color: #ffffff;
        border-radius: 10px;
        -webkit-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        -moz-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        .heading-container {
          display: flex;
          flex-direction: column;
          .wellcome {
            text-align: center;
            color: #0d0c0a;
            margin: 0;
            margin-top: 50px;
          }
          .name {
            text-align: center;
            color: #4a4b46;
            margin-top: 10px;
            margin-bottom: 30px;
          }
        }
        .bdr {
          width: 85%;
          height: 2px;
          background-color: rgb(109, 109, 109);
          margin: auto;
          margin-bottom: 30px;
        }
        .menu {
          display: flex;
          flex-direction: column;
          color: #4a4b46;
          .mh {
            color: gray;
            font-size: 25px;
            font-weight: bold;
            width: 40%;
            margin-left: 10%;
          }
          .btn {
            margin-left: 15%;
            margin-bottom: 15px;
            margin-top: 15px;
            width: 40%;
            padding: 10px;
            border-radius: 25px;
          }
          .btn:hover {
            background-color: #e8dcdb;
            cursor: pointer;
            color: brown;
          }
          .selected {
            background-color: #e8dcdb;
            color: brown;
          }
        }
        .sign-out {
          color: #4a4b46;
          margin-left: 15%;
          margin-bottom: 15px;
          margin-top: 15px;
          width: 40%;
          padding: 10px;
          border-radius: 25px;
        }
        .sign-out:hover {
          background-color: #ebc0c0;
          cursor: pointer;
          color: rgb(214, 0, 0);
        }
      }
      .container-two {
        overflow: hidden;
        height: 95%;
        width: 67.5%;
        margin-top: 1.25%;
        // margin-left: 1.25%;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        -moz-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        .sub-menu {
          margin-top: 25px;
          color: #4a4b46;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .sm-text {
            padding: 10px;
            border-radius: 25px;
          }
          .sm-text:hover {
            color: brown;
            cursor: pointer;
            background-color: #e8dcdb;
          }
        }
        .sub-container {
          height: 100%;
          width: 100%;
          -webkit-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
          -moz-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
          box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
          overflow-y: scroll;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .assignment {
            color: whitesmoke;
            border-radius: 10px;
            height: 300px;
            width: 45%;
            // margin-left: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .title {
              width: 90%;
              margin: auto;
              margin-top: 25px;
            }
            .description {
              width: 90%;
              margin: auto;
              height: 50%;
              overflow-y: scroll;
            }
            .description::-webkit-scrollbar {
              display: none;
            }
            .details {
              display: flex;
              flex-direction: row;
              width: 90%;
              margin: auto;
              justify-content: space-between;
              .deadline {
                span {
                  font-weight: 600;
                }
              }
              .teacher {
                span {
                  font-weight: 600;
                }
              }
            }
          }
          .assignment:hover {
            cursor: pointer;
          }
          .green {
            background-image: linear-gradient(to right, #afea96, #64be47);
            -webkit-box-shadow: 0px 13px 21px 5px rgba(157, 228, 128, 0.62);
            -moz-box-shadow: 0px 13px 21px 5px rgba(157, 228, 128, 0.62);
            box-shadow: 0px 13px 21px 5px rgba(157, 228, 128, 0.62);
          }
          .blue {
            background-image: linear-gradient(to right, #53b8f9, #3485f7);
            -webkit-box-shadow: 0px 13px 21px 5px rgba(83, 183, 249, 0.49);
            -moz-box-shadow: 0px 13px 21px 5px rgba(83, 183, 249, 0.49);
            box-shadow: 0px 13px 21px 5px rgba(83, 183, 249, 0.49);
          }
          .orange {
            background-image: linear-gradient(to right, #ee9a47, #df6c3d);
            -webkit-box-shadow: 0px 13px 21px 5px rgba(239, 156, 72, 0.5);
            -moz-box-shadow: 0px 13px 21px 5px rgba(239, 156, 72, 0.5);
            box-shadow: 0px 13px 21px 5px rgba(239, 156, 72, 0.5);
          }
          .add-assignments {
            height: 80%;
            width: 60%;
            background-color: yellow;
          }
        }
        .sub-container::-webkit-scrollbar {
          display: none;
        }
      }
      .profile-container {
        height: 40%;
        width: 35%;
        margin-top: 10%;
        margin-right: 17.5%;
        background-color: #ffffff;
        border-radius: 10px;
        -webkit-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        -moz-box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        box-shadow: 0px 5px 10px 2.5px rgba(171, 171, 171, 1);
        .info {
          font-size: 25px;
          width: 70%;
          margin: auto;
          margin-top: 25px;
          input {
            font-size: 25px;
            outline: none;
            border: none;
            border-bottom: 1px solid #36454f;
          }
        }
        .name {
          margin-top: 35px;
        }
        .btn {
          color: #4a4b46;
          text-align: right;
          width: 70%;
          margin: auto;
          margin-top: 25px;
          font-size: 35px;
        }
        .btn:hover {
          color: brown;
          cursor: pointer;
        }
      }
    }
  }
}
